# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pydantic compiled cache
__pydantic__/ 

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log
logs/

# Docker
*.pid
*.pid.lock
docker-compose.override.yml

# Database
*.sqlite3
*.db

# Jupyter
.ipynb_checkpoints

# Others
.idea/
*.swp
